@use 'sass:math';
@import "../../styles/variables.scss";

.container {
  margin-top: $navHeight;
  background: $veryLightGray;

  @media (min-width: $mobileBreakPoint) {
    display: flex;
    flex-direction: row-reverse;
    height: 41rem;
  }
}

.innerContainer {
  padding: math.div($pad, 2) $gutter $pad;

  @media (min-width: $mobileBreakPoint) {
    padding: 0 0 0 $gutter * 2;
    display: flex;
    align-items: center;
    max-width: 60%;
  }
}

.heroBg {
  position: relative;
  background-image: url("/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 307px;
  width: 100%;

  @media (min-width: 540px) {
    background-position: center 65%;
  }

  @media (min-width: 768px) {
    background-position: center 72%;
  }

  @media (min-width: $mobileBreakPoint) {
    background-size: 146%;
    background-position: 9% 65%;
    background-image: url("/bg-intro-desktop.svg");
  }

  &::after {
    // opacity: 0;
    // border: 1px solid magenta;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/image-mockups.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center -15vh;
    max-width: 767px;

    @media (min-width: 540px) {
      background-size: 70%;
      background-position: center -21vh;
    }

    @media (min-width: 768px) {
      background-size: 66%;
      background-position: center -30vh;
    }

    @media (min-width: $mobileBreakPoint) {
      width: 100%;
      height: 100%;
      background-size: 102%;
      background-position: right -16vh;
      height: 790px;
      max-width: 767px;
      left: 30%;
    }
  }
}

.contentContainer {
  text-align: center;

  @media (min-width: $mobileBreakPoint) {
    text-align: left;
    width: 470px;
    margin-right: 20px;
  }

  .heading {
    font-size: math.div($headingExtraLarge, 1.1);
    margin-bottom: 1.15rem;
    text-align: center;

    @media (min-width: $mobileBreakPoint) {
      font-size: $headingExtraLarge * 1.2;
      text-align: left;
    }
  }

  p {
    margin-bottom: 2.25rem;
  }
}
