@import "./variables.scss";

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

// generic fade classes
.fadeIn {
  animation: fade-in $easeInOut forwards;
}
.fadeOut {
  animation: fade-out $easeInOut forwards;
}
