@import "./variables.scss";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: rgb(255, 221, 221);
  font-size: $fontSmall;
  color: $grayishBlue;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;

  @media (min-width: $mobileBreakPoint) {
    font-size: $fontRegular;
  }

  &.lockScroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.1;
  color: $darkBlue;
  font-weight: 300;
}

.heading {
  font-size: $headingLarge;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $mobileBreakPoint) {
    font-size: $headingLarge * 1.2;
    text-align: left;
  }
}

.navContainer {
  padding: 0 $gutter;

  @media (min-width: $mobileBreakPoint) {
    padding: 0 $gutter * 2;
  }
}
