// primary colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$gradient: linear-gradient(to right, $limeGreen, $brightCyan);

// neutral colors
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// breakpoints
$mobileBreakPoint: 960px;

// text sizes
$fontRegular: 1.125em;
$fontSmall: 0.9em;

// heading sizes
$headingExtraLarge: 2.825rem;
$headingLarge: 2.1rem;
$headingMedium: 1.25em;
$headingSmall: 1rem;

// other
$easeInOut: 0.2s ease-in-out;
$navHeight: 80px;

$gutter: 6vw;
$pad: 5em;
