@import "../../styles//variables.scss";

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: transparent;

  span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: $darkBlue;
    transition: all 0.3s;
    transform-origin: 3px 1px;
  }

  span:not(:last-child) {
    margin-bottom: 5px;
  }
}

.open {
  span {
    &:first-of-type {
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:last-of-type {
      transform: rotate(-45deg);
    }
  }
}
